body {
    font-size: 18px;
}

.titleBoxDiv {
    display: flex;
    align-items: center;
    justify-content: center
}

.flagImg {
    height: 42px;
}

.flagImg.left {
    padding-left: 5vw;
}

.flagImg.right {
    padding-right: 5vw;
}

.imgDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: image;
}

.listToggleButton {
    font-size: 32px;
    margin: 10px;
    padding: 4px;
    color: var(--foregroundColor);
}

@media all and (orientation: landscape) {
    .gridDiv {
        display: grid;
        grid-template-columns: 20% auto;
        grid-template-areas: 
            "image title"
            "image info"
            "image .";
    }

    .imgDiv {
        padding-right: 1vw;
    }
}

@media all and (orientation: portrait) {
    .gridDiv {
        display: grid;
        grid-template-areas:
            "title"
            "image"
            "info";
    }
}

.titleDiv {
    text-align: center;
    grid-area: title;
}

.infoDiv {
    grid-area: info;
}

hr {
    margin: 16px 0px 16px 0px;
}
