:root {
	--borderSize: 2px;
	--backgroundColor: #33424D;
	--foregroundColor: #E1E3DE;
	--foregroundGrayColor: #a3a4a1;
	--textHighlightColor: #F5A9B8;
	--listHighlightColor: #5BCEFA;
}

html, body {
	margin: 0px;
	height: 100%;
	background-color: var(--backgroundColor);
}

p, h1, h2, h3, h4, h5, a, li, th, td, span, label {
	color: var(--foregroundColor);
	font-family: Sans-Serif;
}

.gray {
	color: var(--foregroundGrayColor)
}

.subP {
	margin-top: 0px;
}

.sauceP {
	margin-top: 0px;
	font-size: 0.5em;
}

.supP {
	margin-bottom: 5px;
}

.bold {
	font-weight: bold;
}

sub {
	font-size: 0.6em;
}

.bottomLeftItem {
	position: absolute;
	bottom: 5px;
	left: 5px;
}

.mainDiv {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.headerDiv {
	order: 1;
	flex: 1;
	text-align: center;
	border-bottom: var(--borderSize) solid var(--foregroundColor);
	padding: 8px
}

.bodyDiv {
	order: 2;
	flex-basis: 100%;
	text-align: center;
}

.textDiv {
	overflow-wrap: break-word;
	max-width: 800px;
	width: 90%;
	padding: 10px;
	display: inline-block;
	text-align: left;
	box-shadow: 1px 1px 7px 1px #111;
	border-radius: 5px;
}

.textDiv.bottom {
	margin-bottom: 50vh;
}

.textDiv *:first-child {
	margin-top: 0px;
}

.textDiv *:last-child {
	margin-bottom: 0px;
}

.blockDiv {
	overflow-wrap: break-word;
	padding-left: 15px;
	padding-right: 15px;
	text-align: left;
}

.listDiv {
	display: inline-block;
	text-align: left;
}

.noDotList {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.pictureText {
	margin-top: 0px;
	color: gray;
}

.infoText {
	margin-bottom: 0px;
}

#resultImg {
	max-width: 90%;
	height: auto;
	max-height: 90%;
	padding-bottom: 1%;
}

#canvas {
	border-color: var(--foregroundColor);
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	height: 4px;
	border-radius: 4px;
	background: var(--foregroundColor);
	cursor: pointer;
	margin: 10px;
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 10px;
	height: 10px;
	background: var(--backgroundColor);
	border: 3px solid var(--foregroundColor);
	border-radius: 100%;
	cursor: pointer;
}
.slider::-moz-range-thumb {
	width: 10px;
	height: 10px;
	background: var(--backgroundColor);
	border: 3px solid var(--foregroundColor);
	border-radius: 100%;
	cursor: pointer;
}

select {
	border: 1px solid var(--foregroundColor);
	background: var(--backgroundColor);
	color: var(--foregroundColor);
}

button {
	border: 1px solid var(--foregroundColor);
	border-radius: 5px;
	background: var(--backgroundColor);
	color: var(--textHighlightColor);
	cursor: pointer;
}

button:disabled {
	color: gray;
}

table {
	border-collapse: collapse;
	margin: auto;
	margin-top: 2px;
}

th, td {
	border: 1px solid;
	text-align: left;
	padding: 4px;
}

.noBorderTable {
	border: none;
	font-weight: normal;
	padding: 0px 4px 0px 4px;
}

.listTop {
	margin-bottom: 0px;
}

.navLink {
	color: var(--textHighlightColor);
	font-size: 20px;
}
.navLink.small {
	font-size: 17px;
}

.listLink {
	color: var(--listHighlightColor);
}

a {
	background-color: transparent;
	text-decoration: none;
	}
a:hover {
		text-decoration: underline;
}

code {
    color: var(--foregroundColor);
}
code *:first-child {
	background-color:#232e35;
	border-radius: 5px;
}
