:root {
	--borderSize: 2px;
	--backgroundColor: #33424D;
	--foregroundColor: #CCCEC7;
	--textHighlightColor: #EEEF99;
	--listHighlightColor: #97C49A;
}

html, body {
	margin: 0px;
	height: 100%;
	background-color: var(--backgroundColor);
}

p, h1, h2, h3, a, li, .defaultSpan {
	color: var(--foregroundColor);
	font-family: Sans-Serif;
}

.subP {
	margin-top: 0px;
}

.supP {
	margin-bottom: 5px;
}

.bold {
	font-weight: bold;
}

.bottomLeftItem {
	position: absolute;
	bottom: 5px;
	left: 5px;
}

.mainDiv {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.headerDiv {
	order: 1;
	flex: 1;
	text-align: center;
	border-bottom: var(--borderSize) solid var(--foregroundColor);
	padding: 8px
}

.bodyDiv {
	order: 2;
	flex-basis: 100%;
	text-align: center;
}

.textDiv *:first-child {
	margin-top: 0px;
}
.textDiv *:last-child {
	margin-bottom: 0px;
}

.textDiv {
	max-width: 800px;
	width: 90%;
	padding: 10px;
	display: inline-block;
	text-align: left;
	box-shadow: 1px 1px 7px 1px #111;
	border-radius: 5px;
}

.listDiv {
	display: inline-block;
	text-align: left;
}

.noDotList {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.pictureText {
	margin-top: 0px;
	color: gray;
}

.infoText {
	margin-bottom: 0px;
}

#canvas {
	border-color: var(--foregroundColor);
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	height: 4px;
	border-radius: 4px;
	background: var(--foregroundColor);
	cursor: pointer;
	margin: 10px;
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 10px;
	height: 10px;
	background: var(--backgroundColor);
	border: 3px solid var(--foregroundColor);
	border-radius: 100%;
	cursor: pointer;
}
.slider::-moz-range-thumb {
	width: 10px;
	height: 10px;
	background: var(--backgroundColor);
	border: 3px solid var(--foregroundColor);
	border-radius: 100%;
	cursor: pointer;
}

select {
	border: 1px solid var(--foregroundColor);
	background: var(--backgroundColor);
	color: var(--foregroundColor);
}

button {
	border: 1px solid var(--foregroundColor);
	border-radius: 5px;
	background: var(--backgroundColor);
	color: var(--textHighlightColor);
	cursor: pointer;
}

table {
	border-collapse: collapse;
	margin: auto;
	margin-top: 2px;
}

th, td {
	border: 1px solid;
	text-align: left;
	padding: 4px;
}

.navLink {
	color: var(--textHighlightColor);
	font-size: 20px;
}
.navLink.small {
	font-size: 17px;
}

.listLink {
	color: var(--listHighlightColor);
}

a {
	background-color: transparent;
	text-decoration: none;
	}
a:hover {
		text-decoration: underline;
}
