a {
    color: var(--listHighlightColor);
}

img {
    width: 75%;
    margin-left: 12.5%;
}

blockquote {
    background-color: #23323D;
    border: 8px solid #23323D;
    border-radius: 8px;
    margin: 8px;
    overflow-x: scroll;
    overflow-y: hidden;
}

blockquote > blockquote {
    border: 0px solid #23323D;
    margin: 0px 0px 0px 16px;
    overflow: visible;
}

blockquote > p {
    margin: 8px 0px 8px 0px;
}

pre.sourceCode {
    padding: 3px;
}

mjx-container {
    overflow-x: scroll;
    overflow-y: hidden;
}