#imgDiv {
	display: grid
}

.bigImg {
	max-width: 80vw;
	height: auto;
	max-height: 50vh;
}

#stripButton {
	margin-top: 10px;
}

.noPointer {
	pointer-events: none
}

#bar {
	width: 10px;
	z-index: 999;
	grid-area: 1 / 1;
	cursor: col-resize
}

#precentP {
	margin-top: 0px;
}
